@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

a {
text-decoration: none;
color:white
}

a:hover {
color: rgb(255, 117, 255);
}

ul, ol, li {
list-style: none;
}
