<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item class="parent" lines="full" *ngFor=" let name of legendsList; let i = index">            
            <ion-label id="legendEdit" *ngIf="editing" > 
            <input name="{{ name }}" placeholder="{{ name }}" (change)="handleChange($event)">             
            <button class="child" (click)="toggleView()" margin padding>SAVE</button>
            </ion-label>
            <ion-label id="legendList" *ngIf="!editing" >
             {{i + " - "}} {{ name }} <button class="child" (click)="toggleView()" margin padding>EDIT</button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>