.container-img {  
  min-width: 300px !important;
  min-height: 300px !important;  
  border: 1px solid black;
  background-color: rgb(236, 236, 208);
}

.item-img {
  height: 300px;
  width: auto;  
}



 